---
import Layout from "../layouts/Layout.astro";
import WriterWord from "../components/writer-word.astro";
import CardFeature from "../components/card-feature.astro";
import ImageSlider from "../components/sliders/image-slider.astro";
---

<Layout title="Flix - The app for workspaces">
  <section class="section-header w-full flex">
    <header class="m-auto p-3 flex flex-col items-center gap-8">
      <div class="flex flex-col gap-8 items-center">
        <h1 class="text-9xl font-bold th-header-color">Flix App</h1>
        <WriterWord
          words={["Create.", "Import.", "Organize."]}
          className="word-slider text-9xl font-bold h-120px"
        />
      </div>
      <div class="flex flex-row gap-4 font-semibold mt-10 th-text-color">
        <a
          class="th-bg-primary button-effect font-semibold text-white px-4 py-3 rounded-md cursor-pointer"
          href="https://github.com/DreckSallow/flix/releases"
        >
          Download now
        </a>
        <a
          href="/docs"
          class="px-4 py-3 cursor-pointer th-border-primary rounded-md button-effect"
          >Documentation</a
        >
      </div>
      <p class="th-text-color mt-4 text-lg links">
        Free and Open Source project. Developed by <a
          href="https://www.arandadev.com/"
          target="_blank"
          class="italic font-semibold th-link-color"
          >Dreck Sallow
        </a>
      </p>
    </header>
  </section>
  <section class="w-full flex justify-center p-8">
    <div>
      <h2 class="text-5xl font-bold text-center mb-16 th-header-color">
        Cross-platform learning app
      </h2>
      <div class="flex flex-row gap-10 items-center">
        <ImageSlider
          images={[
            "/images/flix-import-deck.png",
            "/images/flix-decks-docs.png",
            "/images/flix-markdown.png",
          ]}
          className="w-60% h-540px block"
        />
        <div class="w-40% flex flex-col gap-10 items-center">
          <p class="text-xl th-text-color">
            Explore the functionalities and the intuitive design of the
            application. Immerse yourself in the experience that we offer to
            simplify your learning.
          </p>
          <button
            class="th-bg-primary button-effect font-semibold text-white py-2 px-3 rounded-md"
          >
            Read the docs
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="w-full flex justify-center p-4 py-12 pb-20">
    <div class="max-w-80% items-center overflow-hidden th-header-color links">
      <h2 class="text-5xl font-bold mb-10 text-center">
        Built with
        <a href="https://tauri.app/" target="_blank" class="th-link-color">
          Tauri
        </a> and
        <a href="https://vuejs.org/" target="_blank" class="th-link-color">
          Vue
        </a>
      </h2>
      <ul class="flex flex-row flex-wrap gap-6 justify-center">
        <CardFeature
          header="Good ui"
          content="The UI have more colors and good design to be fluid and intuitive."
        />
        <CardFeature
          header="Import"
          content="Supports anki files, you don't need to create your decks from scratch."
        />
        <CardFeature
          header="Markdown"
          content="You can write notes using Markdown. Also you can write in Plain Text!."
        />
        <CardFeature
          header="Organize"
          content="Create workspaces or learning spaces to group decks and notes."
        />
        <CardFeature
          header="Cross Platform"
          content="The applications is bundled for Windows, Linux and MacOs."
        />
        <CardFeature
          header="Open Source"
          content="This project is open source and will remain so."
        />
      </ul>
    </div>
  </section>
</Layout>

<style>
  .section-header {
    min-height: 100vh;
    padding-top: 70px;
  }

  .section-header :global(.word-slider h3) {
    display: inline;
    color: hsla(var(--primary-color), 1);
    /* background: #6acf3e; */
    /* background: linear-gradient(
      to right,
      hsla(var(--primary-color), 1),
      #cace57 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  }
</style>
