---
import Layout from "../layouts/Layout.astro";
import WriterWord from "../components/writer-word.astro";
import CardFeature from "../components/card-feature.astro";
---

<Layout title="Flix - The app for workspaces">
  <section class="section-header w-full flex">
    <header class="m-auto p-3 flex flex-col items-center gap-16">
      <div class="flex flex-col gap-8 items-center">
        <h1 class="text-9xl font-bold">Flix App</h1>
        <WriterWord
          words={["Create.", "Import.", "Organize."]}
          className="text-9xl font-bold h-120px"
        />
      </div>
      <div class="flex flex-row gap-4 font-semibold">
        <a
          class="bg-blue-600 text-white px-4 py-3 rounded-md cursor-pointer"
          href="https://github.com/DreckSallow/flix/releases"
        >
          Download now
        </a>
        <a href="/docs" class="px-4 py-3 cursor-pointer">Documentation</a>
      </div>
    </header>
  </section>
  <section class="w-full flex justify-center p-4 py-12">
    <div class="max-w-80% items-center overflow-hidden">
      <h2 class="text-5xl font-semibold mb-20 text-center">
        Some important features
      </h2>
      <ul class="flex flex-row flex-wrap gap-6">
        <CardFeature
          header="Import"
          content="Supports anki files, you don't need to create your decks from scratch."
        />
        <CardFeature
          header="Markdown"
          content="You can write notes using Markdown. Also you can write in Plain Text!."
        />
        <CardFeature
          header="Organize"
          content="Create workspaces or learning spaces to group decks and notes."
        />
      </ul>
    </div>
  </section>
</Layout>

<style>
  .section-header {
    min-height: 100vh;
    padding-top: 70px;
  }
</style>
