<footer class="min-h-20 p-6 flex flex-col gap-6 links">
  <div class="w-80% flex flex-row justify-between m-auto">
    <div class="flex flex-col">
      <h5 class="font-bold mb-4 text-base">Docs</h5>
      <a href="/docs">Tutorial</a>
    </div>
    <div class="flex flex-col">
      <h5 class="font-bold mb-4 text-base">Links</h5>
      <a href="https://github.com/DreckSallow/flix" target="_blank"> Github</a>
      <a href="https://arandadev.com" target="_blank"> About</a>
    </div>
  </div>
  <div class="text-center">
    Copyright © 2023 Dreck Sallow. Built with <a
      href="https://astro.build/"
      target="_blank">Astro 💖</a
    >
  </div>
</footer>
