---
import FlixLogo from "./icons/flix-logo.astro";
import Github from "./icons/github.astro";
import ThemePicker from "./theme-picker.astro";
---

<nav
  id="main-nav"
  class="w-full flex flex-row justify-between px-4 lg:px-10 text-lg z-99 th-bg th-text-color links"
>
  <ul class="h-full flex flex-row items-center gap-4">
    <li>
      <a href="/" class="flex flex-row gap-1 items-center font-semibold">
        <FlixLogo className="h-10 w-12" />
        Flix
      </a>
    </li>
    <li>
      <a href="/docs/introduction">Docs</a>
    </li>
  </ul>
  <div class="flex items-center gap-4">
    <a href="https://github.com/DreckSallow/flix">
      <Github className="th-fill h-8 w-8" />
    </a>
    <ThemePicker />
  </div>
</nav>

<style>
  nav {
    height: 70px;
    position: fixed;
    border: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: hsla(var(--text-color), 0.4);
    top: 0;
  }
  nav li {
    cursor: pointer;
  }
  nav a:hover {
    --alpha: 0.7;
    text-underline-offset: 2px;
  }
</style>
<!-- 
<script>
  const nav = document.querySelector("#main-nav") as HTMLElement | null;
  const height = nav?.getBoundingClientRect().height ?? 0;
  document.addEventListener("scroll", () => {
    if (!nav) return;
    if (window.scrollY > height) nav.style.borderBottomWidth = "1px";
    else nav.style.borderBottomWidth = "0px";
  });
</script> -->
