---
import "../markdown.css";
import Layout from "./Layout.astro";
import NavDocumentation from "../components/natigations/docs/nav-documentation.astro";

interface Props {
  url: string;
}
const { url } = Astro.props;
---

<Layout title="Flix - Documentation">
  <section class="w-full min-h-screen pt-70px flex flex-col lg:flex-row">
    <NavDocumentation {url} />
    <main
      class="h-full w-full p-4 min-h-screen links lg:border-1"
      id="markdown-css"
    >
      <slot />
    </main>
  </section>
</Layout>

<style>
  section > main {
    flex: 1;
  }

  main {
    border-left-style: solid;
    /* border-left-width: 1px; */
    border-left-color: hsla(var(--text-color), 0.4);
  }
  main :global(p, ul) {
    color: hsla(var(--text-color), 1);
  }
</style>
